# Natalia Palej A00279259
Software Design with Artificial Intelligence for Cloud Computing 
Year 4

# Part 2: Data Loading and Preprocessing

## Make Necessary Imports

In [621]:
import pandas as pd 
import numpy as np
import re

## Load the Pokemon JSON File

In [622]:
df = pd.read_json("pokemon_data.json")

In [623]:
df.head()

,bulbasaur,ivysaur,venusaur,charmander,charmeleon,charizard,squirtle,wartortle,blastoise,caterpie,...,machoke,machamp,bellsprout,weepinbell,victreebel,tentacool,tentacruel,geodude,graveler,golem
name,bulbasaur,ivysaur,venusaur,charmander,charmeleon,charizard,squirtle,wartortle,blastoise,caterpie,...,machoke,machamp,bellsprout,weepinbell,victreebel,tentacool,tentacruel,geodude,graveler,golem
national_no,0001,0002,0003,0004,0005,0006,0007,0008,0009,0010,...,0067,0068,0069,0070,0071,0072,0073,0074,0075,0076
types,"[grass, poison]","[grass, poison]","[grass, poison, grass, poison]",[fire],[fire],"[fire, flying, fire, dragon, fire, flying]",[water],[water],"[water, water]",[bug],...,[fighting],[fighting],"[grass, poison]","[grass, poison]","[grass, poison]","[water, poison]","[water, poison]","[rock, ground, rock, electric]","[rock, ground, rock, electric]","[rock, ground, rock, electric]"
species,Seed Pokémon,Seed Pokémon,Seed Pokémon,Lizard Pokémon,Flame Pokémon,Flame Pokémon,Tiny Turtle Pokémon,Turtle Pokémon,Shellfish Pokémon,Worm Pokémon,...,Superpower Pokémon,Superpower Pokémon,Flower Pokémon,Flycatcher Pokémon,Flycatcher Pokémon,Jellyfish Pokémon,Jellyfish Pokémon,Rock Pokémon,Rock Pokémon,Megaton Pokémon
height,0.7 m (2′04″),1.0 m (3′03″),2.0 m (6′07″),0.6 m (2′00″),1.1 m (3′07″),1.7 m (5′07″),0.5 m (1′08″),1.0 m (3′03″),1.6 m (5′03″),0.3 m (1′00″),...,1.5 m (4′11″),1.6 m (5′03″),0.7 m (2′04″),1.0 m (3′03″),1.7 m (5′07″),0.9 m (2′11″),1.6 m (5′03″),0.4 m (1′04″),1.0 m (3′03″),1.4 m (4′07″)

## Dataframe Transposition

In [624]:
df = df.T

In [625]:
# Reset the Index after transposing the df 
df.reset_index(drop=True, inplace=True)

In [626]:
df.head()

,name,national_no,types,species,height,weight,abilities,ev_yield,catch_rate,base_friendship,...,egg_cycles,hp,attack,defense,sp_atk,sp_def,speed,total,evo_path,pokemon_img_url
0,bulbasaur,0001,"[grass, poison]",Seed Pokémon,0.7 m (2′04″),6.9 kg (15.2 lbs),"Overgrow, Chlorophyll",1 Sp. Atk,"45 (5.9% with PokéBall, full HP)",50 (normal),...,"20(4,884–5,140 steps)",45,49,49,65,65,45,318,"[Bulbasaur, Ivysaur, Venusaur]",https://img.pokemondb.net/artwork/bulbasaur.jpg
1,ivysaur,0002,"[grass, poison]",Seed Pokémon,1.0 m (3′03″),13.0 kg (28.7 lbs),"Overgrow, Chlorophyll","1 Sp. Atk, 1 Sp. Def","45 (5.9% with PokéBall, full HP)",50 (normal),...,"20(4,884–5,140 steps)",60,62,63,80,80,60,405,"[Bulbasaur, Ivysaur, Venusaur]",https://img.pokemondb.net/artwork/ivysaur.jpg
2,venusaur,0003,"[grass, poison, grass, poison]",Seed Pokémon,2.0 m (6′07″),100.0 kg (220.5 lbs),"Overgrow, Chlorophyll","2 Sp. Atk, 1 Sp. Def","45 (5.9% with PokéBall, full HP)",50 (normal),...,"20(4,884–5,140 steps)",80,82,83,100,100,80,525,"[Bulbasaur, Ivysaur, Venusaur]",https://img.pokemondb.net/artwork/venusaur.jpg
3,charmander,0004,[fire],Lizard Pokémon,0.6 m (2′00″),8.5 kg (18.7 lbs),"Blaze, Solar Power",1 Speed,"45 (5.9% with PokéBall, full HP)",50 (normal),...,"20(4,884–5,140 steps)",39,52,43,60,50,65,309,"[Charmander, Charmeleon, Charizard]",https://img.pokemondb.net/artwork/charmander.jpg
4,charmeleon,0005,[fire],Flame Pokémon,1.1 m (3′07″),19.0 kg (41.9 lbs),"Blaze, Solar Power","1 Sp. Atk, 1 Speed","45 (5.9% with PokéBall, full HP)",50 (normal),...,"20(4,884–5,140 steps)",58,64,58,80,65,80,405,"[Charmander, Charmeleon, Charizard]",https://img.pokemondb.net/artwork/charmeleon.jpg

In [627]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             76 non-null     object
 1   national_no      76 non-null     object
 2   types            76 non-null     object
 3   species          76 non-null     object
 4   height           76 non-null     object
 5   weight           76 non-null     object
 6   abilities        76 non-null     object
 7   ev_yield         76 non-null     object
 8   catch_rate       76 non-null     object
 9   base_friendship  76 non-null     object
 10  base_exp         76 non-null     object
 11  growth_rate      76 non-null     object
 12  egg_groups       76 non-null     object
 13  gender           76 non-null     object
 14  egg_cycles       76 non-null     object
 15  hp               76 non-null     object
 16  attack           76 non-null     object
 17  defense          76 non-null     object
 18  sp_atk           76 non-null     object
 19  sp_def           76 non-null     object
 20  speed            76 non-null     object
 21  total            76 non-null     object
 22  evo_path         76 non-null     object
 23  pokemon_img_url  76 non-null     object
dtypes: object(24)
memory usage: 14.4+ KB

In [628]:
df.describe

<bound method NDFrame.describe of           name national_no                           types            species  \
0    bulbasaur        0001                 [grass, poison]       Seed Pokémon
1      ivysaur        0002                 [grass, poison]       Seed Pokémon
2     venusaur        0003  [grass, poison, grass, poison]       Seed Pokémon
3   charmander        0004                          [fire]     Lizard Pokémon
4   charmeleon        0005                          [fire]      Flame Pokémon
..         ...         ...                             ...                ...
71   tentacool        0072                 [water, poison]  Jellyfish Pokémon
72  tentacruel        0073                 [water, poison]  Jellyfish Pokémon
73     geodude        0074  [rock, ground, rock, electric]       Rock Pokémon
74    graveler        0075  [rock, ground, rock, electric]       Rock Pokémon
75       golem        0076  [rock, ground, rock, electric]    Megaton Pokémon

           height                weight                           abilities  \
0   0.7 m (2′04″)     6.9 kg (15.2 lbs)               Overgrow, Chlorophyll
1   1.0 m (3′03″)    13.0 kg (28.7 lbs)               Overgrow, Chlorophyll
2   2.0 m (6′07″)  100.0 kg (220.5 lbs)               Overgrow, Chlorophyll
3   0.6 m (2′00″)     8.5 kg (18.7 lbs)                  Blaze, Solar Power
4   1.1 m (3′07″)    19.0 kg (41.9 lbs)                  Blaze, Solar Power
..            ...                   ...                                 ...
71  0.9 m (2′11″)   45.5 kg (100.3 lbs)  Clear Body, Liquid Ooze, Rain Dish
72  1.6 m (5′03″)   55.0 kg (121.3 lbs)  Clear Body, Liquid Ooze, Rain Dish
73  0.4 m (1′04″)    20.0 kg (44.1 lbs)        Rock Head, Sturdy, Sand Veil
74  1.0 m (3′03″)  105.0 kg (231.5 lbs)        Rock Head, Sturdy, Sand Veil
75  1.4 m (4′07″)  300.0 kg (661.4 lbs)        Rock Head, Sturdy, Sand Veil

                ev_yield                          catch_rate base_friendship  \
0              1 Sp. Atk    45 (5.9% with PokéBall, full HP)     50 (normal)
1   1 Sp. Atk, 1 Sp. Def    45 (5.9% with PokéBall, full HP)     50 (normal)
2   2 Sp. Atk, 1 Sp. Def    45 (5.9% with PokéBall, full HP)     50 (normal)
3                1 Speed    45 (5.9% with PokéBall, full HP)     50 (normal)
4     1 Sp. Atk, 1 Speed    45 (5.9% with PokéBall, full HP)     50 (normal)
..                   ...                                 ...             ...
71             1 Sp. Def  190 (24.8% with PokéBall, full HP)     50 (normal)
72             2 Sp. Def    60 (7.8% with PokéBall, full HP)     50 (normal)
73             1 Defense  255 (33.3% with PokéBall, full HP)     50 (normal)
74             2 Defense  120 (15.7% with PokéBall, full HP)     50 (normal)
75             3 Defense    45 (5.9% with PokéBall, full HP)     50 (normal)

    ...             egg_cycles  hp attack defense sp_atk sp_def speed total  \
0   ...  20(4,884–5,140 steps)  45     49      49     65     65    45   318
1   ...  20(4,884–5,140 steps)  60     62      63     80     80    60   405
2   ...  20(4,884–5,140 steps)  80     82      83    100    100    80   525
3   ...  20(4,884–5,140 steps)  39     52      43     60     50    65   309
4   ...  20(4,884–5,140 steps)  58     64      58     80     65    80   405
..  ...                    ...  ..    ...     ...    ...    ...   ...   ...
71  ...  20(4,884–5,140 steps)  40     40      35     50    100    70   335
72  ...  20(4,884–5,140 steps)  80     70      65     80    120   100   515
73  ...  15(3,599–3,855 steps)  40     80     100     30     30    20   300
74  ...  15(3,599–3,855 steps)  55     95     115     45     45    35   390
75  ...  15(3,599–3,855 steps)  80    120     130     55     65    45   495

                                             evo_path  \
0                      [Bulbasaur, Ivysaur, Venusaur]
1                      [Bulbasaur, Ivysaur, Venusaur]
2                      [Bulbasaur, Ivysaur, Venusaur]
3                 [Charmander, Charmeleon, Charizard]
4                 [Charmander, Charmeleon, Charizard]
..                                                ...
71                            [Tentacool, Tentacruel]
72                            [Tentacool, Tentacruel]
73  [Geodude, Graveler, Golem, Geodude, Graveler, ...
74  [Geodude, Graveler, Golem, Geodude, Graveler, ...
75  [Geodude, Graveler, Golem, Geodude, Graveler, ...

                                     pokemon_img_url
0    https://img.pokemondb.net/artwork/bulbasaur.jpg
1      https://img.pokemondb.net/artwork/ivysaur.jpg
2     https://img.pokemondb.net/artwork/venusaur.jpg
3   https://img.pokemondb.net/artwork/charmander.jpg
4   https://img.pokemondb.net/artwork/charmeleon.jpg
..                                               ...
71   https://img.pokemondb.net/artwork/tentacool.jpg
72  https://img.pokemondb.net/artwork/tentacruel.jpg
73     https://img.pokemondb.net/artwork/geodude.jpg
74    https://img.pokemondb.net/artwork/graveler.jpg
75       https://img.pokemondb.net/artwork/golem.jpg

[76 rows x 24 columns]>

In [629]:
df.size

1824

In [630]:
df.columns

Index(['name', 'national_no', 'types', 'species', 'height', 'weight',
       'abilities', 'ev_yield', 'catch_rate', 'base_friendship', 'base_exp',
       'growth_rate', 'egg_groups', 'gender', 'egg_cycles', 'hp', 'attack',
       'defense', 'sp_atk', 'sp_def', 'speed', 'total', 'evo_path',
       'pokemon_img_url'],
      dtype='object')

## Data Storage

### Save DataFrame as a .pkl file

In [631]:
df.to_pickle('data/pokemon_data.pkl')

## Data Type Conversion Simple

In [632]:
transform_string_to_int = ['national_no', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed', 'total']
df[transform_string_to_int] = df[transform_string_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [633]:
print(df.columns)

Index(['name', 'national_no', 'types', 'species', 'height', 'weight',
       'abilities', 'ev_yield', 'catch_rate', 'base_friendship', 'base_exp',
       'growth_rate', 'egg_groups', 'gender', 'egg_cycles', 'hp', 'attack',
       'defense', 'sp_atk', 'sp_def', 'speed', 'total', 'evo_path',
       'pokemon_img_url'],
      dtype='object')

## Data Type Conversion

In [634]:
# Extract and convert numeric part for height and weight
df['height_m'] = df['height'].str.extract(r'(\d+\.?\d*)')[0]  
df['weight_kg'] = df['weight'].str.extract(r'(\d+\.?\d*)')[0]

In [635]:
# Print extracted values to verify
print("Extracted height values:")
print(df['height_m'].head())
print("\nExtracted weight values:")
print(df['weight_kg'].head())

Extracted height values:
0    0.7
1    1.0
2    2.0
3    0.6
4    1.1
Name: height_m, dtype: object

Extracted weight values:
0      6.9
1     13.0
2    100.0
3      8.5
4     19.0
Name: weight_kg, dtype: object

### Convert to numeric and check for NaN values

In [636]:
df['height_m'] = pd.to_numeric(df['height_m'], errors='coerce') 
df['weight_kg'] = pd.to_numeric(df['weight_kg'], errors='coerce')

In [637]:
# Print converted values to verify
print("Extracted height values:")
print(df['height_m'].head())
print("\nExtracted weight values:")
print(df['weight_kg'].head())

Extracted height values:
0    0.7
1    1.0
2    2.0
3    0.6
4    1.1
Name: height_m, dtype: float64

Extracted weight values:
0      6.9
1     13.0
2    100.0
3      8.5
4     19.0
Name: weight_kg, dtype: float64

### Convert attributes catch_rate, gender, egg_cycles into numbers and strip non numerical characters

In [638]:
df['catch_rate'] = df['catch_rate'].str.extract(r'(\d+)')[0].astype(float)
df['egg_cycles'] = pd.to_numeric(df['egg_cycles'].str.extract(r'(\d+)')[0], errors='coerce')

### Distill base_friendship attribute to its essential numeric value

In [639]:
df['base_friendship'] = df['base_friendship'].str.extract(r'(\d+)').astype(float)
df['base_exp'] = df['base_exp'].astype(int)

## Verify NaN values

In [640]:
print(df.isna().sum())

name               0
national_no        0
types              0
species            0
height             0
weight             0
abilities          0
ev_yield           0
catch_rate         0
base_friendship    0
base_exp           0
growth_rate        0
egg_groups         0
gender             0
egg_cycles         0
hp                 0
attack             0
defense            0
sp_atk             0
sp_def             0
speed              0
total              0
evo_path           0
pokemon_img_url    0
height_m           0
weight_kg          0
dtype: int64

In [641]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             76 non-null     object
 1   national_no      76 non-null     Int64
 2   types            76 non-null     object
 3   species          76 non-null     object
 4   height           76 non-null     object
 5   weight           76 non-null     object
 6   abilities        76 non-null     object
 7   ev_yield         76 non-null     object
 8   catch_rate       76 non-null     float64
 9   base_friendship  76 non-null     float64
 10  base_exp         76 non-null     int32
 11  growth_rate      76 non-null     object
 12  egg_groups       76 non-null     object
 13  gender           76 non-null     object
 14  egg_cycles       76 non-null     int64
 15  hp               76 non-null     Int64
 16  attack           76 non-null     Int64
 17  defense          76 non-null     Int64
 18  sp_atk           76 non-null     Int64
 19  sp_def           76 non-null     Int64
 20  speed            76 non-null     Int64
 21  total            76 non-null     Int64
 22  evo_path         76 non-null     object
 23  pokemon_img_url  76 non-null     object
 24  height_m         76 non-null     float64
 25  weight_kg        76 non-null     float64
dtypes: Int64(8), float64(4), int32(1), int64(1), object(12)
memory usage: 15.9+ KB

## Column Splitting - Types

### Drop types, height and weight  column post-split

In [642]:
df.drop(columns=['types', 'height', 'weight'], inplace=True)

In [643]:
df.columns

Index(['name', 'national_no', 'species', 'abilities', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups', 'gender',
       'egg_cycles', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed',
       'total', 'evo_path', 'pokemon_img_url', 'height_m', 'weight_kg'],
      dtype='object')

### Split gender field into male_percentage and female_percentage and convert to numeric values

In [644]:
# Extract gender distribution
df['male_percentage'] = df['gender'].str.extract(r'(\d+\.\d+)% male')[0].astype(float)
df['female_percentage'] = df['gender'].str.extract(r'(\d+\.\d+)% female')[0].astype(float)

In [645]:
df['male_percentage'].fillna(0, inplace=True)
df['female_percentage'].fillna(0, inplace=True)
print(df[['gender', 'male_percentage', 'female_percentage']].head())

                     gender  male_percentage  female_percentage
0  87.5% male, 12.5% female             87.5               12.5
1  87.5% male, 12.5% female             87.5               12.5
2  87.5% male, 12.5% female             87.5               12.5
3  87.5% male, 12.5% female             87.5               12.5
4  87.5% male, 12.5% female             87.5               12.5

In [646]:
df.columns

Index(['name', 'national_no', 'species', 'abilities', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups', 'gender',
       'egg_cycles', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed',
       'total', 'evo_path', 'pokemon_img_url', 'height_m', 'weight_kg',
       'male_percentage', 'female_percentage'],
      dtype='object')

### Drop gender column as it was replaced with male_percentage and female_percentage

In [647]:
df.drop(columns=['gender'], inplace=True)

## Generation Identification

In [648]:
df = df.sort_values(by='national_no')

### Add a new column called gen to the DataFrame, indicating the generation in which the Pokémon first appeared

In [649]:
# Define generation boundaries
bins = [0, 151, 251, 386, 493, 649, 721, 809, 898]
labels = [1, 2, 3, 4, 5, 6, 7, 8]

# Create the generation column
df['gen'] = pd.cut(df['national_no'], bins=bins, labels=labels, right=True)
print(df[['name', 'national_no', 'gen']])

          name  national_no gen
0    bulbasaur            1   1
1      ivysaur            2   1
2     venusaur            3   1
3   charmander            4   1
4   charmeleon            5   1
..         ...          ...  ..
71   tentacool           72   1
72  tentacruel           73   1
73     geodude           74   1
74    graveler           75   1
75       golem           76   1

[76 rows x 3 columns]

## Column Splitting - Abilities

## Separate the abilities column into primary_ability and secondary_ability

In [650]:
df.columns

Index(['name', 'national_no', 'species', 'abilities', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups',
       'egg_cycles', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed',
       'total', 'evo_path', 'pokemon_img_url', 'height_m', 'weight_kg',
       'male_percentage', 'female_percentage', 'gen'],
      dtype='object')

In [651]:
abilities_split = df['abilities'].str.split(', ', expand=True)
df['primary_ability'] = abilities_split[0]
df['secondary_ability'] = abilities_split[1]

## Handle secondary slot if only one ability is present

In [652]:
df['secondary_ability'].fillna('None', inplace=True)

In [653]:
print(df[['name', 'national_no', 'primary_ability', 'secondary_ability']])

          name  national_no primary_ability secondary_ability
0    bulbasaur            1        Overgrow       Chlorophyll
1      ivysaur            2        Overgrow       Chlorophyll
2     venusaur            3        Overgrow       Chlorophyll
3   charmander            4           Blaze       Solar Power
4   charmeleon            5           Blaze       Solar Power
..         ...          ...             ...               ...
71   tentacool           72      Clear Body       Liquid Ooze
72  tentacruel           73      Clear Body       Liquid Ooze
73     geodude           74       Rock Head            Sturdy
74    graveler           75       Rock Head            Sturdy
75       golem           76       Rock Head            Sturdy

[76 rows x 4 columns]

### Drop abilities column after replacting it with primary_ability and secondary_ability

In [654]:
df.drop(columns=['abilities'], inplace=True)

In [655]:
df.columns

Index(['name', 'national_no', 'species', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups',
       'egg_cycles', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed',
       'total', 'evo_path', 'pokemon_img_url', 'height_m', 'weight_kg',
       'male_percentage', 'female_percentage', 'gen', 'primary_ability',
       'secondary_ability'],
      dtype='object')

## Data Cleansing

### Store the cleaned DataFrame to a new pickle file for persistent storage

In [656]:
df.to_pickle('data/final_cleaned_pokemon_data.pkl')

## Evaluation

### Use .info() method to check the datatype for different attribute columns.

In [657]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               76 non-null     object
 1   national_no        76 non-null     Int64
 2   species            76 non-null     object
 3   ev_yield           76 non-null     object
 4   catch_rate         76 non-null     float64
 5   base_friendship    76 non-null     float64
 6   base_exp           76 non-null     int32
 7   growth_rate        76 non-null     object
 8   egg_groups         76 non-null     object
 9   egg_cycles         76 non-null     int64
 10  hp                 76 non-null     Int64
 11  attack             76 non-null     Int64
 12  defense            76 non-null     Int64
 13  sp_atk             76 non-null     Int64
 14  sp_def             76 non-null     Int64
 15  speed              76 non-null     Int64
 16  total              76 non-null     Int64
 17  evo_path           76 non-null     object
 18  pokemon_img_url    76 non-null     object
 19  height_m           76 non-null     float64
 20  weight_kg          76 non-null     float64
 21  male_percentage    76 non-null     float64
 22  female_percentage  76 non-null     float64
 23  gen                76 non-null     category
 24  primary_ability    76 non-null     object
 25  secondary_ability  76 non-null     object
dtypes: Int64(8), category(1), float64(6), int32(1), int64(1), object(9)
memory usage: 15.7+ KB

### Use the .unique() method on categorical columns to identify and rectify any typographical errors within the attributes

In [658]:
# Define all categorical columns
categorical_columns = ['species', 'growth_rate', 'egg_groups', 'evo_path', 'primary_ability', 'secondary_ability']
# categorical_columns += ['moves']

In [659]:
# Handle colums that cause "TypeError: unhashable type: 'list'" error
df['egg_groups'] = df['egg_groups'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
df['evo_path'] = df['evo_path'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
#df['moves'] = df['moves'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [660]:
print("Unique Values")
for column in categorical_columns:
    unique_value = df[column].unique()
    print(f"'{column}': {unique_value}\n")

Unique Values
'species': ['Seed Pokémon' 'Lizard Pokémon' 'Flame Pokémon' 'Tiny Turtle Pokémon'
 'Turtle Pokémon' 'Shellfish Pokémon' 'Worm Pokémon' 'Cocoon Pokémon'
 'Butterfly Pokémon' 'Hairy Bug Pokémon' 'Poison Bee Pokémon'
 'Tiny Bird Pokémon' 'Bird Pokémon' 'Mouse Pokémon' 'Beak Pokémon'
 'Snake Pokémon' 'Cobra Pokémon' 'Poison Pin Pokémon' 'Drill Pokémon'
 'Fairy Pokémon' 'Fox Pokémon' 'Balloon Pokémon' 'Bat Pokémon'
 'Weed Pokémon' 'Flower Pokémon' 'Mushroom Pokémon' 'Insect Pokémon'
 'Poison Moth Pokémon' 'Mole Pokémon' 'Scratch Cat Pokémon'
 'Classy Cat Pokémon' 'Duck Pokémon' 'Pig Monkey Pokémon' 'Puppy Pokémon'
 'Legendary Pokémon' 'Tadpole Pokémon' 'Psi Pokémon' 'Superpower Pokémon'
 'Flycatcher Pokémon' 'Jellyfish Pokémon' 'Rock Pokémon' 'Megaton Pokémon']

'growth_rate': ['Medium Slow' 'Medium Fast' 'Fast' 'Slow']

'egg_groups': ['Grass, Monster' 'Dragon, Monster' 'Monster, Water 1' 'Bug' 'Flying'
 'Field' 'Dragon, Field' 'Fairy, Field' 'Field, Monster' 'Undiscovered'
 'Fairy' 'Grass' 'Bug, Grass' 'Field, Water 1' 'Water 1' 'Human-Like'
 'Water 3' 'Mineral']

'evo_path': ['Bulbasaur, Ivysaur, Venusaur' 'Charmander, Charmeleon, Charizard'
 'Squirtle, Wartortle, Blastoise' 'Caterpie, Metapod, Butterfree'
 'Weedle, Kakuna, Beedrill' 'Pidgey, Pidgeotto, Pidgeot'
 'Rattata, Raticate, Rattata, Raticate' 'Spearow, Fearow' 'Ekans, Arbok'
 'Pichu, Pikachu, Raichu, Raichu'
 'Sandshrew, Sandslash, Sandshrew, Sandslash'
 'Nidoran♀, Nidorina, Nidoqueen' 'Nidoran♂, Nidorino, Nidoking'
 'Cleffa, Clefairy, Clefable' 'Vulpix, Ninetales, Vulpix, Ninetales'
 'Igglybuff, Jigglypuff, Wigglytuff' 'Zubat, Golbat, Crobat'
 'Oddish, Gloom, Vileplume, Bellossom' 'Paras, Parasect'
 'Venonat, Venomoth' 'Diglett, Dugtrio, Diglett, Dugtrio'
 'Meowth, Persian, Meowth, Persian, Meowth, Perrserker' 'Psyduck, Golduck'
 'Mankey, Primeape, Annihilape' 'Growlithe, Arcanine, Growlithe, Arcanine'
 'Poliwag, Poliwhirl, Poliwrath, Politoed' 'Abra, Kadabra, Alakazam'
 'Machop, Machoke, Machamp' 'Bellsprout, Weepinbell, Victreebel'
 'Tentacool, Tentacruel'
 'Geodude, Graveler, Golem, Geodude, Graveler, Golem']

'primary_ability': ['Overgrow' 'Blaze' 'Torrent' 'Shield Dust' 'Shed Skin' 'Compound Eyes'
 'Swarm' 'Keen Eye' 'Run Away' 'Intimidate' 'Static' 'Sand Veil'
 'Poison Point' 'Cute Charm' 'Flash Fire' 'Inner Focus' 'Chlorophyll'
 'Effect Spore' 'Pickup' 'Limber' 'Damp' 'Vital Spirit' 'Water Absorb'
 'Synchronize' 'Guts' 'Clear Body' 'Rock Head']

'secondary_ability': ['Chlorophyll' 'Solar Power' 'Rain Dish' 'Run Away' 'None' 'Tinted Lens'
 'Sniper' 'Tangled Feet' 'Guts' 'Shed Skin' 'Lightning Rod' 'Sand Rush'
 'Rivalry' 'Magic Guard' 'Drought' 'Competitive' 'Infiltrator' 'Stench'
 'Effect Spore' 'Dry Skin' 'Arena Trap' 'Technician' 'Cloud Nine'
 'Anger Point' 'Flash Fire' 'Damp' 'Inner Focus' 'No Guard' 'Gluttony'
 'Liquid Ooze' 'Sturdy']