# Natalia Palej A00279259
Software Design with Artificial Intelligence for Cloud Computing 
Year 4

# Part 2: Data Loading and Preprocessing

## Make Necessary Imports

In [45]:
import pandas as pd 
import numpy as np
import re

## Load the Pokemon JSON File

In [46]:
df = pd.read_json("pokemon_data.json")

In [47]:
df.head()

,bulbasaur,ivysaur,venusaur,charmander,charmeleon,charizard,squirtle,wartortle,blastoise,caterpie,...,starly,staravia,staraptor,bidoof,bibarel,kricketot,kricketune,shinx,luxio,luxray
name,bulbasaur,ivysaur,venusaur,charmander,charmeleon,charizard,squirtle,wartortle,blastoise,caterpie,...,starly,staravia,staraptor,bidoof,bibarel,kricketot,kricketune,shinx,luxio,luxray
national_no,0001,0002,0003,0004,0005,0006,0007,0008,0009,0010,...,0396,0397,0398,0399,0400,0401,0402,0403,0404,0405
types,"[grass, poison]","[grass, poison]","[grass, poison, grass, poison]",[fire],[fire],"[fire, flying, fire, dragon, fire, flying]",[water],[water],"[water, water]",[bug],...,"[normal, flying]","[normal, flying]","[normal, flying]",[normal],"[normal, water]",[bug],[bug],[electric],[electric],[electric]
species,Seed Pokémon,Seed Pokémon,Seed Pokémon,Lizard Pokémon,Flame Pokémon,Flame Pokémon,Tiny Turtle Pokémon,Turtle Pokémon,Shellfish Pokémon,Worm Pokémon,...,Starling Pokémon,Starling Pokémon,Predator Pokémon,Plump Mouse Pokémon,Beaver Pokémon,Cricket Pokémon,Cricket Pokémon,Flash Pokémon,Spark Pokémon,Gleam Eyes Pokémon
height,0.7 m (2′04″),1.0 m (3′03″),2.0 m (6′07″),0.6 m (2′00″),1.1 m (3′07″),1.7 m (5′07″),0.5 m (1′08″),1.0 m (3′03″),1.6 m (5′03″),0.3 m (1′00″),...,0.3 m (1′00″),0.6 m (2′00″),1.2 m (3′11″),0.5 m (1′08″),1.0 m (3′03″),0.3 m (1′00″),1.0 m (3′03″),0.5 m (1′08″),0.9 m (2′11″),1.4 m (4′07″)

## Dataframe Transposition

In [48]:
df = df.T

In [49]:
# Reset the Index after transposing the df 
df.reset_index(drop=True, inplace=True)

In [50]:
df.head()

,name,national_no,types,species,height,weight,abilities,ev_yield,catch_rate,base_friendship,...,max_sp_atk,sp_def,min_sp_def,max_sp_def,speed,min_speed,max_speed,total,evo_path,pokemon_img_url
0,bulbasaur,0001,"[grass, poison]",Seed Pokémon,0.7 m (2′04″),6.9 kg (15.2 lbs),"Overgrow, Chlorophyll",1 Sp. Atk,"45 (5.9% with PokéBall, full HP)",50 (normal),...,251,65,121,251,45,85,207,318,"[Bulbasaur, Ivysaur, Venusaur]",https://img.pokemondb.net/artwork/bulbasaur.jpg
1,ivysaur,0002,"[grass, poison]",Seed Pokémon,1.0 m (3′03″),13.0 kg (28.7 lbs),"Overgrow, Chlorophyll","1 Sp. Atk, 1 Sp. Def","45 (5.9% with PokéBall, full HP)",50 (normal),...,284,80,148,284,60,112,240,405,"[Bulbasaur, Ivysaur, Venusaur]",https://img.pokemondb.net/artwork/ivysaur.jpg
2,venusaur,0003,"[grass, poison, grass, poison]",Seed Pokémon,2.0 m (6′07″),100.0 kg (220.5 lbs),"Overgrow, Chlorophyll","2 Sp. Atk, 1 Sp. Def","45 (5.9% with PokéBall, full HP)",50 (normal),...,328,100,184,328,80,148,284,525,"[Bulbasaur, Ivysaur, Venusaur]",https://img.pokemondb.net/artwork/venusaur.jpg
3,charmander,0004,[fire],Lizard Pokémon,0.6 m (2′00″),8.5 kg (18.7 lbs),"Blaze, Solar Power",1 Speed,"45 (5.9% with PokéBall, full HP)",50 (normal),...,240,50,94,218,65,121,251,309,"[Charmander, Charmeleon, Charizard]",https://img.pokemondb.net/artwork/charmander.jpg
4,charmeleon,0005,[fire],Flame Pokémon,1.1 m (3′07″),19.0 kg (41.9 lbs),"Blaze, Solar Power","1 Sp. Atk, 1 Speed","45 (5.9% with PokéBall, full HP)",50 (normal),...,284,65,121,251,80,148,284,405,"[Charmander, Charmeleon, Charizard]",https://img.pokemondb.net/artwork/charmeleon.jpg

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             405 non-null    object
 1   national_no      405 non-null    object
 2   types            405 non-null    object
 3   species          405 non-null    object
 4   height           405 non-null    object
 5   weight           405 non-null    object
 6   abilities        405 non-null    object
 7   ev_yield         405 non-null    object
 8   catch_rate       405 non-null    object
 9   base_friendship  405 non-null    object
 10  base_exp         405 non-null    object
 11  growth_rate      405 non-null    object
 12  egg_groups       405 non-null    object
 13  gender           405 non-null    object
 14  egg_cycles       405 non-null    object
 15  hp               405 non-null    object
 16  min_hp           405 non-null    object
 17  max_hp           405 non-null    object
 18  attack           405 non-null    object
 19  min_attack       405 non-null    object
 20  max_attack       405 non-null    object
 21  defense          405 non-null    object
 22  min_defense      405 non-null    object
 23  max_defense      405 non-null    object
 24  sp_atk           405 non-null    object
 25  min_sp_atk       405 non-null    object
 26  max_sp_atk       405 non-null    object
 27  sp_def           405 non-null    object
 28  min_sp_def       405 non-null    object
 29  max_sp_def       405 non-null    object
 30  speed            405 non-null    object
 31  min_speed        405 non-null    object
 32  max_speed        405 non-null    object
 33  total            405 non-null    object
 34  evo_path         405 non-null    object
 35  pokemon_img_url  405 non-null    object
dtypes: object(36)
memory usage: 114.0+ KB

In [52]:
df.describe

<bound method NDFrame.describe of            name national_no                           types  \
0     bulbasaur        0001                 [grass, poison]
1       ivysaur        0002                 [grass, poison]
2      venusaur        0003  [grass, poison, grass, poison]
3    charmander        0004                          [fire]
4    charmeleon        0005                          [fire]
..          ...         ...                             ...
400   kricketot        0401                           [bug]
401  kricketune        0402                           [bug]
402       shinx        0403                      [electric]
403       luxio        0404                      [electric]
404      luxray        0405                      [electric]

                species         height                weight  \
0          Seed Pokémon  0.7 m (2′04″)     6.9 kg (15.2 lbs)
1          Seed Pokémon  1.0 m (3′03″)    13.0 kg (28.7 lbs)
2          Seed Pokémon  2.0 m (6′07″)  100.0 kg (220.5 lbs)
3        Lizard Pokémon  0.6 m (2′00″)     8.5 kg (18.7 lbs)
4         Flame Pokémon  1.1 m (3′07″)    19.0 kg (41.9 lbs)
..                  ...            ...                   ...
400     Cricket Pokémon  0.3 m (1′00″)      2.2 kg (4.9 lbs)
401     Cricket Pokémon  1.0 m (3′03″)    25.5 kg (56.2 lbs)
402       Flash Pokémon  0.5 m (1′08″)     9.5 kg (20.9 lbs)
403       Spark Pokémon  0.9 m (2′11″)    30.5 kg (67.2 lbs)
404  Gleam Eyes Pokémon  1.4 m (4′07″)    42.0 kg (92.6 lbs)

                     abilities              ev_yield  \
0        Overgrow, Chlorophyll             1 Sp. Atk
1        Overgrow, Chlorophyll  1 Sp. Atk, 1 Sp. Def
2        Overgrow, Chlorophyll  2 Sp. Atk, 1 Sp. Def
3           Blaze, Solar Power               1 Speed
4           Blaze, Solar Power    1 Sp. Atk, 1 Speed
..                         ...                   ...
400        Shed Skin, Run Away             1 Defense
401          Swarm, Technician              2 Attack
402  Rivalry, Intimidate, Guts              1 Attack
403  Rivalry, Intimidate, Guts              2 Attack
404  Rivalry, Intimidate, Guts              3 Attack

                             catch_rate           base_friendship  ...  \
0      45 (5.9% with PokéBall, full HP)               50 (normal)  ...
1      45 (5.9% with PokéBall, full HP)               50 (normal)  ...
2      45 (5.9% with PokéBall, full HP)               50 (normal)  ...
3      45 (5.9% with PokéBall, full HP)               50 (normal)  ...
4      45 (5.9% with PokéBall, full HP)               50 (normal)  ...
..                                  ...                       ...  ...
400  255 (33.3% with PokéBall, full HP)               50 (normal)  ...
401    45 (5.9% with PokéBall, full HP)               50 (normal)  ...
402  235 (30.7% with PokéBall, full HP)               50 (normal)  ...
403  120 (15.7% with PokéBall, full HP)  100 (higher than normal)  ...
404    45 (5.9% with PokéBall, full HP)               50 (normal)  ...

    max_sp_atk sp_def min_sp_def max_sp_def speed min_speed max_speed total  \
0          251     65        121        251    45        85       207   318
1          284     80        148        284    60       112       240   405
2          328    100        184        328    80       148       284   525
3          240     50         94        218    65       121       251   309
4          284     65        121        251    80       148       284   405
..         ...    ...        ...        ...   ...       ...       ...   ...
400        163     41         78        199    25        49       163   194
401        229     51         96        221    65       121       251   384
402        196     34         65        183    45        85       207   263
403        240     49         92        216    60       112       240   363
404        317     79        146        282    70       130       262   523

                                evo_path  \
0         [Bulbasaur, Ivysaur, Venusaur]
1         [Bulbasaur, Ivysaur, Venusaur]
2         [Bulbasaur, Ivysaur, Venusaur]
3    [Charmander, Charmeleon, Charizard]
4    [Charmander, Charmeleon, Charizard]
..                                   ...
400              [Kricketot, Kricketune]
401              [Kricketot, Kricketune]
402               [Shinx, Luxio, Luxray]
403               [Shinx, Luxio, Luxray]
404               [Shinx, Luxio, Luxray]

                                      pokemon_img_url
0     https://img.pokemondb.net/artwork/bulbasaur.jpg
1       https://img.pokemondb.net/artwork/ivysaur.jpg
2      https://img.pokemondb.net/artwork/venusaur.jpg
3    https://img.pokemondb.net/artwork/charmander.jpg
4    https://img.pokemondb.net/artwork/charmeleon.jpg
..                                                ...
400   https://img.pokemondb.net/artwork/kricketot.jpg
401  https://img.pokemondb.net/artwork/kricketune.jpg
402       https://img.pokemondb.net/artwork/shinx.jpg
403       https://img.pokemondb.net/artwork/luxio.jpg
404      https://img.pokemondb.net/artwork/luxray.jpg

[405 rows x 36 columns]>

In [53]:
df.size

14580

In [54]:
df.columns

Index(['name', 'national_no', 'types', 'species', 'height', 'weight',
       'abilities', 'ev_yield', 'catch_rate', 'base_friendship', 'base_exp',
       'growth_rate', 'egg_groups', 'gender', 'egg_cycles', 'hp', 'min_hp',
       'max_hp', 'attack', 'min_attack', 'max_attack', 'defense',
       'min_defense', 'max_defense', 'sp_atk', 'min_sp_atk', 'max_sp_atk',
       'sp_def', 'min_sp_def', 'max_sp_def', 'speed', 'min_speed', 'max_speed',
       'total', 'evo_path', 'pokemon_img_url'],
      dtype='object')

## Data Storage

### Save DataFrame as a .pkl file

In [58]:
df.to_pickle('data/pokemon_data.pkl')

## Data Type Conversion Simple

In [59]:
transform_string_to_int = ['national_no', 'hp', 'min_hp', 'max_hp', 'attack', 'min_attack', 'max_attack', 
                           'defense', 'min_defense', 'max_defense', 'sp_atk', 'min_sp_atk', 'max_sp_atk', 
                           'sp_def', 'min_sp_def', 'max_sp_def', 'speed', 'min_speed', 'max_speed', 'total']
df[transform_string_to_int] = df[transform_string_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [60]:
print(df.columns)

Index(['name', 'national_no', 'types', 'species', 'height', 'weight',
       'abilities', 'ev_yield', 'catch_rate', 'base_friendship', 'base_exp',
       'growth_rate', 'egg_groups', 'gender', 'egg_cycles', 'hp', 'min_hp',
       'max_hp', 'attack', 'min_attack', 'max_attack', 'defense',
       'min_defense', 'max_defense', 'sp_atk', 'min_sp_atk', 'max_sp_atk',
       'sp_def', 'min_sp_def', 'max_sp_def', 'speed', 'min_speed', 'max_speed',
       'total', 'evo_path', 'pokemon_img_url'],
      dtype='object')

## Data Type Conversion

In [61]:
# Extract and convert numeric part for height and weight
df['height_m'] = df['height'].str.extract(r'(\d+\.?\d*)')[0]  
df['weight_kg'] = df['weight'].str.extract(r'(\d+\.?\d*)')[0]

In [62]:
# Print extracted values to verify
print("Extracted height values:")
print(df['height_m'].head())
print("\nExtracted weight values:")
print(df['weight_kg'].head())

Extracted height values:
0    0.7
1    1.0
2    2.0
3    0.6
4    1.1
Name: height_m, dtype: object

Extracted weight values:
0      6.9
1     13.0
2    100.0
3      8.5
4     19.0
Name: weight_kg, dtype: object

### Convert to numeric and check for NaN values

In [63]:
df['height_m'] = pd.to_numeric(df['height_m'], errors='coerce') 
df['weight_kg'] = pd.to_numeric(df['weight_kg'], errors='coerce')

In [64]:
# Print converted values to verify
print("Extracted height values:")
print(df['height_m'].head())
print("\nExtracted weight values:")
print(df['weight_kg'].head())

Extracted height values:
0    0.7
1    1.0
2    2.0
3    0.6
4    1.1
Name: height_m, dtype: float64

Extracted weight values:
0      6.9
1     13.0
2    100.0
3      8.5
4     19.0
Name: weight_kg, dtype: float64

### Convert attributes catch_rate, gender, egg_cycles into numbers and strip non numerical characters

In [65]:
df['catch_rate'] = df['catch_rate'].str.extract(r'(\d+)')[0].astype(float)
df['egg_cycles'] = pd.to_numeric(df['egg_cycles'].str.extract(r'(\d+)')[0], errors='coerce')

### Distill base_friendship attribute to its essential numeric value

In [66]:
df['base_friendship'] = df['base_friendship'].str.extract(r'(\d+)').astype(float)
df['base_exp'] = df['base_exp'].astype(int)

## Verify NaN values

In [67]:
print(df.isna().sum())

name               0
national_no        0
types              0
species            0
height             0
weight             0
abilities          0
ev_yield           0
catch_rate         0
base_friendship    0
base_exp           0
growth_rate        0
egg_groups         0
gender             0
egg_cycles         0
hp                 0
min_hp             0
max_hp             0
attack             0
min_attack         0
max_attack         0
defense            0
min_defense        0
max_defense        0
sp_atk             0
min_sp_atk         0
max_sp_atk         0
sp_def             0
min_sp_def         0
max_sp_def         0
speed              0
min_speed          0
max_speed          0
total              0
evo_path           0
pokemon_img_url    0
height_m           0
weight_kg          0
dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             405 non-null    object
 1   national_no      405 non-null    Int64
 2   types            405 non-null    object
 3   species          405 non-null    object
 4   height           405 non-null    object
 5   weight           405 non-null    object
 6   abilities        405 non-null    object
 7   ev_yield         405 non-null    object
 8   catch_rate       405 non-null    float64
 9   base_friendship  405 non-null    float64
 10  base_exp         405 non-null    int32
 11  growth_rate      405 non-null    object
 12  egg_groups       405 non-null    object
 13  gender           405 non-null    object
 14  egg_cycles       405 non-null    int64
 15  hp               405 non-null    Int64
 16  min_hp           405 non-null    Int64
 17  max_hp           405 non-null    Int64
 18  attack           405 non-null    Int64
 19  min_attack       405 non-null    Int64
 20  max_attack       405 non-null    Int64
 21  defense          405 non-null    Int64
 22  min_defense      405 non-null    Int64
 23  max_defense      405 non-null    Int64
 24  sp_atk           405 non-null    Int64
 25  min_sp_atk       405 non-null    Int64
 26  max_sp_atk       405 non-null    Int64
 27  sp_def           405 non-null    Int64
 28  min_sp_def       405 non-null    Int64
 29  max_sp_def       405 non-null    Int64
 30  speed            405 non-null    Int64
 31  min_speed        405 non-null    Int64
 32  max_speed        405 non-null    Int64
 33  total            405 non-null    Int64
 34  evo_path         405 non-null    object
 35  pokemon_img_url  405 non-null    object
 36  height_m         405 non-null    float64
 37  weight_kg        405 non-null    float64
dtypes: Int64(20), float64(4), int32(1), int64(1), object(12)
memory usage: 126.7+ KB

## Column Splitting - Types

### Divide the types column into two separate columns: primary_type and secondary_type

In [69]:
def split_types(types):
    primary = types[0]  # The first type
    secondary = types[1] if len(types) > 1 else 'Pure'  # Assign 'Pure' if there's no second type
    return pd.Series([primary, secondary])

In [70]:
df[['primary_type', 'secondary_type']] = df['types'].apply(split_types)

### Drop types, height and weight  column post-split

In [71]:
df.drop(columns=['types', 'height', 'weight'], inplace=True)

In [72]:
df.columns

Index(['name', 'national_no', 'species', 'abilities', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups', 'gender',
       'egg_cycles', 'hp', 'min_hp', 'max_hp', 'attack', 'min_attack',
       'max_attack', 'defense', 'min_defense', 'max_defense', 'sp_atk',
       'min_sp_atk', 'max_sp_atk', 'sp_def', 'min_sp_def', 'max_sp_def',
       'speed', 'min_speed', 'max_speed', 'total', 'evo_path',
       'pokemon_img_url', 'height_m', 'weight_kg', 'primary_type',
       'secondary_type'],
      dtype='object')

### Split gender field into male_percentage and female_percentage and convert to numeric values

In [73]:
# Extract gender distribution
df['male_percentage'] = df['gender'].str.extract(r'(\d+\.\d+)% male')[0].astype(float)
df['female_percentage'] = df['gender'].str.extract(r'(\d+\.\d+)% female')[0].astype(float)

In [74]:
df['male_percentage'].fillna(0, inplace=True)
df['female_percentage'].fillna(0, inplace=True)
print(df[['gender', 'male_percentage', 'female_percentage']].head())

                     gender  male_percentage  female_percentage
0  87.5% male, 12.5% female             87.5               12.5
1  87.5% male, 12.5% female             87.5               12.5
2  87.5% male, 12.5% female             87.5               12.5
3  87.5% male, 12.5% female             87.5               12.5
4  87.5% male, 12.5% female             87.5               12.5

In [75]:
df.columns

Index(['name', 'national_no', 'species', 'abilities', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups', 'gender',
       'egg_cycles', 'hp', 'min_hp', 'max_hp', 'attack', 'min_attack',
       'max_attack', 'defense', 'min_defense', 'max_defense', 'sp_atk',
       'min_sp_atk', 'max_sp_atk', 'sp_def', 'min_sp_def', 'max_sp_def',
       'speed', 'min_speed', 'max_speed', 'total', 'evo_path',
       'pokemon_img_url', 'height_m', 'weight_kg', 'primary_type',
       'secondary_type', 'male_percentage', 'female_percentage'],
      dtype='object')

### Drop gender column as it was replaced with male_percentage and female_percentage

In [76]:
df.drop(columns=['gender'], inplace=True)

## Generation Identification

In [77]:
df = df.sort_values(by='national_no')

### Add a new column called gen to the DataFrame, indicating the generation in which the Pokémon first appeared

In [78]:
# Define generation boundaries
bins = [0, 151, 251, 386, 493, 649, 721, 809, 898]
labels = [1, 2, 3, 4, 5, 6, 7, 8]

# Create the generation column
df['gen'] = pd.cut(df['national_no'], bins=bins, labels=labels, right=True)
print(df[['name', 'national_no', 'gen']])

           name  national_no gen
0     bulbasaur            1   1
1       ivysaur            2   1
2      venusaur            3   1
3    charmander            4   1
4    charmeleon            5   1
..          ...          ...  ..
400   kricketot          401   4
401  kricketune          402   4
402       shinx          403   4
403       luxio          404   4
404      luxray          405   4

[405 rows x 3 columns]

## Column Splitting - Abilities

## Separate the abilities column into primary_ability and secondary_ability

In [79]:
df.columns

Index(['name', 'national_no', 'species', 'abilities', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups',
       'egg_cycles', 'hp', 'min_hp', 'max_hp', 'attack', 'min_attack',
       'max_attack', 'defense', 'min_defense', 'max_defense', 'sp_atk',
       'min_sp_atk', 'max_sp_atk', 'sp_def', 'min_sp_def', 'max_sp_def',
       'speed', 'min_speed', 'max_speed', 'total', 'evo_path',
       'pokemon_img_url', 'height_m', 'weight_kg', 'primary_type',
       'secondary_type', 'male_percentage', 'female_percentage', 'gen'],
      dtype='object')

In [80]:
abilities_split = df['abilities'].str.split(', ', expand=True)
df['primary_ability'] = abilities_split[0]
df['secondary_ability'] = abilities_split[1]

## Handle secondary slot if only one ability is present

In [81]:
df['secondary_ability'].fillna('None', inplace=True)

In [82]:
print(df[['name', 'national_no', 'primary_ability', 'secondary_ability']])

           name  national_no primary_ability secondary_ability
0     bulbasaur            1        Overgrow       Chlorophyll
1       ivysaur            2        Overgrow       Chlorophyll
2      venusaur            3        Overgrow       Chlorophyll
3    charmander            4           Blaze       Solar Power
4    charmeleon            5           Blaze       Solar Power
..          ...          ...             ...               ...
400   kricketot          401       Shed Skin          Run Away
401  kricketune          402           Swarm        Technician
402       shinx          403         Rivalry        Intimidate
403       luxio          404         Rivalry        Intimidate
404      luxray          405         Rivalry        Intimidate

[405 rows x 4 columns]

### Drop abilities column after replacting it with primary_ability and secondary_ability

In [83]:
df.drop(columns=['abilities'], inplace=True)

In [84]:
df.columns

Index(['name', 'national_no', 'species', 'ev_yield', 'catch_rate',
       'base_friendship', 'base_exp', 'growth_rate', 'egg_groups',
       'egg_cycles', 'hp', 'min_hp', 'max_hp', 'attack', 'min_attack',
       'max_attack', 'defense', 'min_defense', 'max_defense', 'sp_atk',
       'min_sp_atk', 'max_sp_atk', 'sp_def', 'min_sp_def', 'max_sp_def',
       'speed', 'min_speed', 'max_speed', 'total', 'evo_path',
       'pokemon_img_url', 'height_m', 'weight_kg', 'primary_type',
       'secondary_type', 'male_percentage', 'female_percentage', 'gen',
       'primary_ability', 'secondary_ability'],
      dtype='object')

## Data Cleansing

### Store the cleaned DataFrame to a new pickle file for persistent storage

In [85]:
df.to_pickle('data/cleaned_pokemon_data.pkl')

## Evaluation

### Use .info() method to check the datatype for different attribute columns.

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               405 non-null    object
 1   national_no        405 non-null    Int64
 2   species            405 non-null    object
 3   ev_yield           405 non-null    object
 4   catch_rate         405 non-null    float64
 5   base_friendship    405 non-null    float64
 6   base_exp           405 non-null    int32
 7   growth_rate        405 non-null    object
 8   egg_groups         405 non-null    object
 9   egg_cycles         405 non-null    int64
 10  hp                 405 non-null    Int64
 11  min_hp             405 non-null    Int64
 12  max_hp             405 non-null    Int64
 13  attack             405 non-null    Int64
 14  min_attack         405 non-null    Int64
 15  max_attack         405 non-null    Int64
 16  defense            405 non-null    Int64
 17  min_defense        405 non-null    Int64
 18  max_defense        405 non-null    Int64
 19  sp_atk             405 non-null    Int64
 20  min_sp_atk         405 non-null    Int64
 21  max_sp_atk         405 non-null    Int64
 22  sp_def             405 non-null    Int64
 23  min_sp_def         405 non-null    Int64
 24  max_sp_def         405 non-null    Int64
 25  speed              405 non-null    Int64
 26  min_speed          405 non-null    Int64
 27  max_speed          405 non-null    Int64
 28  total              405 non-null    Int64
 29  evo_path           405 non-null    object
 30  pokemon_img_url    405 non-null    object
 31  height_m           405 non-null    float64
 32  weight_kg          405 non-null    float64
 33  primary_type       405 non-null    object
 34  secondary_type     405 non-null    object
 35  male_percentage    405 non-null    float64
 36  female_percentage  405 non-null    float64
 37  gen                405 non-null    category
 38  primary_ability    405 non-null    object
 39  secondary_ability  405 non-null    object
dtypes: Int64(20), category(1), float64(6), int32(1), int64(1), object(11)
memory usage: 130.6+ KB

### Use the .unique() method on categorical columns to identify and rectify any typographical errors within the attributes

In [87]:
# Define all categorical columns
categorical_columns = ['species', 'growth_rate', 'egg_groups', 'evo_path', 'primary_ability', 'secondary_ability']
# categorical_columns += ['moves']

In [88]:
# Handle colums that cause "TypeError: unhashable type: 'list'" error
df['egg_groups'] = df['egg_groups'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
df['evo_path'] = df['evo_path'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
#df['moves'] = df['moves'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [89]:
print("Unique Values")
for column in categorical_columns:
    unique_value = df[column].unique()
    print(f"'{column}': {unique_value}\n")

Unique Values
'species': ['Seed Pokémon' 'Lizard Pokémon' 'Flame Pokémon' 'Tiny Turtle Pokémon'
 'Turtle Pokémon' 'Shellfish Pokémon' 'Worm Pokémon' 'Cocoon Pokémon'
 'Butterfly Pokémon' 'Hairy Bug Pokémon' 'Poison Bee Pokémon'
 'Tiny Bird Pokémon' 'Bird Pokémon' 'Mouse Pokémon' 'Beak Pokémon'
 'Snake Pokémon' 'Cobra Pokémon' 'Poison Pin Pokémon' 'Drill Pokémon'
 'Fairy Pokémon' 'Fox Pokémon' 'Balloon Pokémon' 'Bat Pokémon'
 'Weed Pokémon' 'Flower Pokémon' 'Mushroom Pokémon' 'Insect Pokémon'
 'Poison Moth Pokémon' 'Mole Pokémon' 'Scratch Cat Pokémon'
 'Classy Cat Pokémon' 'Duck Pokémon' 'Pig Monkey Pokémon' 'Puppy Pokémon'
 'Legendary Pokémon' 'Tadpole Pokémon' 'Psi Pokémon' 'Superpower Pokémon'
 'Flycatcher Pokémon' 'Jellyfish Pokémon' 'Rock Pokémon' 'Megaton Pokémon'
 'Fire Horse Pokémon' 'Dopey Pokémon' 'Hermit Crab Pokémon'
 'Magnet Pokémon' 'Wild Duck Pokémon' 'Twin Bird Pokémon'
 'Triple Bird Pokémon' 'Sea Lion Pokémon' 'Sludge Pokémon'
 'Bivalve Pokémon' 'Gas Pokémon' 'Shadow Pokémon' 'Rock Snake Pokémon'
 'Hypnosis Pokémon' 'River Crab Pokémon' 'Pincer Pokémon' 'Ball Pokémon'
 'Egg Pokémon' 'Coconut Pokémon' 'Lonely Pokémon' 'Bone Keeper Pokémon'
 'Kicking Pokémon' 'Punching Pokémon' 'Licking Pokémon'
 'Poison Gas Pokémon' 'Spikes Pokémon' 'Vine Pokémon' 'Parent Pokémon'
 'Dragon Pokémon' 'Goldfish Pokémon' 'Star Shape Pokémon'
 'Mysterious Pokémon' 'Barrier Pokémon' 'Mantis Pokémon'
 'Human Shape Pokémon' 'Electric Pokémon' 'Spitfire Pokémon'
 'Stag Beetle Pokémon' 'Wild Bull Pokémon' 'Fish Pokémon'
 'Atrocious Pokémon' 'Transport Pokémon' 'Transform Pokémon'
 'Evolution Pokémon' 'Bubble Jet Pokémon' 'Lightning Pokémon'
 'Virtual Pokémon' 'Spiral Pokémon' 'Fossil Pokémon' 'Sleeping Pokémon'
 'Freeze Pokémon' 'Genetic Pokémon' 'New Species Pokémon' 'Leaf Pokémon'
 'Herb Pokémon' 'Fire Mouse Pokémon' 'Volcano Pokémon' 'Big Jaw Pokémon'
 'Scout Pokémon' 'Long Body Pokémon' 'Owl Pokémon' 'Five Star Pokémon'
 'String Spit Pokémon' 'Long Leg Pokémon' 'Angler Pokémon' 'Light Pokémon'
 'Tiny Mouse Pokémon' 'Spike Ball Pokémon' 'Happiness Pokémon'
 'Mystic Pokémon' 'Wool Pokémon' 'Aqua Mouse Pokémon'
 'Aqua Rabbit Pokémon' 'Imitation Pokémon' 'Frog Pokémon'
 'Cottonweed Pokémon' 'Long Tail Pokémon' 'Sun Pokémon'
 'Clear Wing Pokémon' 'Water Fish Pokémon' 'Moonlight Pokémon'
 'Darkness Pokémon' 'Royal Pokémon' 'Screech Pokémon' 'Symbol Pokémon'
 'Patient Pokémon' 'Long Neck Pokémon' 'Bagworm Pokémon'
 'Land Snake Pokémon' 'FlyScorpion Pokémon' 'Iron Snake Pokémon'
 'Mold Pokémon' 'Single Horn Pokémon' 'Sharp Claw Pokémon'
 'Little Bear Pokémon' 'Hibernator Pokémon' 'Lava Pokémon' 'Pig Pokémon'
 'Swine Pokémon' 'Coral Pokémon' 'Jet Pokémon' 'Delivery Pokémon'
 'Kite Pokémon' 'Armor Bird Pokémon' 'Dark Pokémon' 'Long Nose Pokémon'
 'Armor Pokémon' 'Big Horn Pokémon' 'Painter Pokémon' 'Scuffle Pokémon'
 'Handstand Pokémon' 'Kiss Pokémon' 'Live Coal Pokémon' 'Milk Cow Pokémon'
 'Thunder Pokémon' 'Aurora Pokémon' 'Rock Skin Pokémon'
 'Hard Shell Pokémon' 'Diving Pokémon' 'Rainbow Pokémon'
 'Time Travel Pokémon' 'Wood Gecko Pokémon' 'Forest Pokémon'
 'Chick Pokémon' 'Young Fowl Pokémon' 'Blaze Pokémon' 'Mud Fish Pokémon'
 'Bite Pokémon' 'TinyRaccoon Pokémon' 'Rushing Pokémon'
 'Water Weed Pokémon' 'Jolly Pokémon' 'Carefree Pokémon' 'Acorn Pokémon'
 'Wily Pokémon' 'Wicked Pokémon' 'TinySwallow Pokémon' 'Swallow Pokémon'
 'Seagull Pokémon' 'Water Bird Pokémon' 'Feeling Pokémon'
 'Emotion Pokémon' 'Embrace Pokémon' 'Pond Skater Pokémon'
 'Eyeball Pokémon' 'Slacker Pokémon' 'Wild Monkey Pokémon' 'Lazy Pokémon'
 'Trainee Pokémon' 'Ninja Pokémon' 'Shed Pokémon' 'Whisper Pokémon'
 'Big Voice Pokémon' 'Loud Noise Pokémon' 'Guts Pokémon'
 'Arm Thrust Pokémon' 'Polka Dot Pokémon' 'Compass Pokémon'
 'Kitten Pokémon' 'Prim Pokémon' 'Deceiver Pokémon' 'Iron Armor Pokémon'
 'Meditate Pokémon' 'Discharge Pokémon' 'Cheering Pokémon'
 'Firefly Pokémon' 'Thorn Pokémon' 'Stomach Pokémon' 'Poison Bag Pokémon'
 'Savage Pokémon' 'Brutal Pokémon' 'Ball Whale Pokémon'
 'Float Whale Pokémon' 'Numb Pokémon' 'Eruption Pokémon' 'Coal Pokémon'
 'Bounce Pokémon' 'Manipulate Pokémon' 'Spot Panda Pokémon'
 'Ant Pit Pokémon' 'Vibration Pokémon' 'Cactus Pokémon'
 'Scarecrow Pokémon' 'Cotton Bird Pokémon' 'Humming Pokémon'
 'Cat Ferret Pokémon' 'Fang Snake Pokémon' 'Meteorite Pokémon'
 'Whiskers Pokémon' 'Ruffian Pokémon' 'Rogue Pokémon' 'Clay Doll Pokémon'
 'Sea Lily Pokémon' 'Barnacle Pokémon' 'Old Shrimp Pokémon'
 'Plate Pokémon' 'Tender Pokémon' 'Weather Pokémon' 'Color Swap Pokémon'
 'Puppet Pokémon' 'Marionette Pokémon' 'Requiem Pokémon' 'Beckon Pokémon'
 'Fruit Pokémon' 'Wind Chime Pokémon' 'Disaster Pokémon' 'Bright Pokémon'
 'Snow Hat Pokémon' 'Face Pokémon' 'Clap Pokémon' 'Ball Roll Pokémon'
 'Ice Break Pokémon' 'Deep Sea Pokémon' 'South Sea Pokémon'
 'Longevity Pokémon' 'Rendezvous Pokémon' 'Rock Head Pokémon'
 'Endurance Pokémon' 'Iron Ball Pokémon' 'Iron Claw Pokémon'
 'Iron Leg Pokémon' 'Rock Peak Pokémon' 'Iceberg Pokémon' 'Iron Pokémon'
 'Eon Pokémon' 'Sea Basin Pokémon' 'Continent Pokémon' 'Sky High Pokémon'
 'Wish Pokémon' 'DNA Pokémon' 'Tiny Leaf Pokémon' 'Grove Pokémon'
 'Chimp Pokémon' 'Playful Pokémon' 'Penguin Pokémon' 'Emperor Pokémon'
 'Starling Pokémon' 'Predator Pokémon' 'Plump Mouse Pokémon'
 'Beaver Pokémon' 'Cricket Pokémon' 'Flash Pokémon' 'Spark Pokémon'
 'Gleam Eyes Pokémon']

'growth_rate': ['Medium Slow' 'Medium Fast' 'Fast' 'Slow' 'Fluctuating' 'Erratic']

'egg_groups': ['Grass, Monster' 'Dragon, Monster' 'Monster, Water 1' 'Bug' 'Flying'
 'Field' 'Dragon, Field' 'Fairy, Field' 'Field, Monster' 'Undiscovered'
 'Fairy' 'Grass' 'Bug, Grass' 'Field, Water 1' 'Water 1' 'Human-Like'
 'Water 3' 'Mineral' 'Field, Flying' 'Amorphous' 'Monster'
 'Dragon, Water 1' 'Water 2' 'Dragon, Water 2' 'Ditto' 'Water 1, Water 3'
 'Fairy, Flying' 'Fairy, Water 1' 'Fairy, Grass' 'Water 1, Water 2'
 'Grass, Water 1' 'Field, Grass' 'Flying, Water 1' 'Amorphous, Human-Like'
 'Bug, Water 1' 'Bug, Human-Like' 'Field, Water 2' 'Field, Human-Like'
 'Bug, Dragon' 'Grass, Human-Like' 'Dragon, Flying' 'Amorphous, Fairy'
 'Fairy, Mineral' 'Dragon']

'evo_path': ['Bulbasaur, Ivysaur, Venusaur' 'Charmander, Charmeleon, Charizard'
 'Squirtle, Wartortle, Blastoise' 'Caterpie, Metapod, Butterfree'
 'Weedle, Kakuna, Beedrill' 'Pidgey, Pidgeotto, Pidgeot'
 'Rattata, Raticate, Rattata, Raticate' 'Spearow, Fearow' 'Ekans, Arbok'
 'Pichu, Pikachu, Raichu, Raichu'
 'Sandshrew, Sandslash, Sandshrew, Sandslash'
 'Nidoran♀, Nidorina, Nidoqueen' 'Nidoran♂, Nidorino, Nidoking'
 'Cleffa, Clefairy, Clefable' 'Vulpix, Ninetales, Vulpix, Ninetales'
 'Igglybuff, Jigglypuff, Wigglytuff' 'Zubat, Golbat, Crobat'
 'Oddish, Gloom, Vileplume, Bellossom' 'Paras, Parasect'
 'Venonat, Venomoth' 'Diglett, Dugtrio, Diglett, Dugtrio'
 'Meowth, Persian, Meowth, Persian, Meowth, Perrserker' 'Psyduck, Golduck'
 'Mankey, Primeape, Annihilape' 'Growlithe, Arcanine, Growlithe, Arcanine'
 'Poliwag, Poliwhirl, Poliwrath, Politoed' 'Abra, Kadabra, Alakazam'
 'Machop, Machoke, Machamp' 'Bellsprout, Weepinbell, Victreebel'
 'Tentacool, Tentacruel'
 'Geodude, Graveler, Golem, Geodude, Graveler, Golem'
 'Ponyta, Rapidash, Ponyta, Rapidash'
 'Slowpoke, Slowbro, Slowking, Slowpoke, Slowbro, Slowking'
 'Magnemite, Magneton, Magnezone' "Farfetch'd, Sirfetch'd" 'Doduo, Dodrio'
 'Seel, Dewgong' 'Grimer, Muk, Grimer, Muk' 'Shellder, Cloyster'
 'Gastly, Haunter, Gengar' 'Onix, Steelix' 'Drowzee, Hypno'
 'Krabby, Kingler' 'Voltorb, Electrode, Voltorb, Electrode'
 'Exeggcute, Exeggutor, Exeggutor' 'Cubone, Marowak, Marowak'
 'Tyrogue, Hitmonlee, Hitmonchan, Hitmontop' 'Lickitung, Lickilicky'
 'Koffing, Weezing, Weezing' 'Rhyhorn, Rhydon, Rhyperior'
 'Happiny, Chansey, Blissey' 'Tangela, Tangrowth' ''
 'Horsea, Seadra, Kingdra' 'Goldeen, Seaking' 'Staryu, Starmie'
 'Mime Jr., Mr. Mime, Mr. Mime, Mr. Rime' 'Scyther, Scizor, Kleavor'
 'Smoochum, Jynx' 'Elekid, Electabuzz, Electivire'
 'Magby, Magmar, Magmortar' 'Magikarp, Gyarados'
 'Eevee, Vaporeon, Jolteon, Flareon, Eevee, Espeon, Umbreon, Eevee, Leafeon, Glaceon, Eevee, Sylveon'
 'Porygon, Porygon2, Porygon-Z' 'Omanyte, Omastar' 'Kabuto, Kabutops'
 'Munchlax, Snorlax' 'Dratini, Dragonair, Dragonite'
 'Chikorita, Bayleef, Meganium'
 'Cyndaquil, Quilava, Typhlosion, Typhlosion'
 'Totodile, Croconaw, Feraligatr' 'Sentret, Furret' 'Hoothoot, Noctowl'
 'Ledyba, Ledian' 'Spinarak, Ariados' 'Chinchou, Lanturn'
 'Togepi, Togetic, Togekiss' 'Natu, Xatu' 'Mareep, Flaaffy, Ampharos'
 'Azurill, Marill, Azumarill' 'Bonsly, Sudowoodo'
 'Hoppip, Skiploom, Jumpluff' 'Aipom, Ambipom' 'Sunkern, Sunflora'
 'Yanma, Yanmega' 'Wooper, Quagsire, Wooper, Clodsire'
 'Murkrow, Honchkrow' 'Misdreavus, Mismagius' 'Wynaut, Wobbuffet'
 'Girafarig, Farigiraf' 'Pineco, Forretress'
 'Dunsparce, Dudunsparce, Dudunsparce' 'Gligar, Gliscor'
 'Snubbull, Granbull' 'Qwilfish, Overqwil'
 'Sneasel, Weavile, Sneasel, Sneasler' 'Teddiursa, Ursaring, Ursaluna'
 'Slugma, Magcargo' 'Swinub, Piloswine, Mamoswine' 'Corsola, Cursola'
 'Remoraid, Octillery' 'Mantyke, Mantine' 'Houndour, Houndoom'
 'Phanpy, Donphan' 'Stantler, Wyrdeer' 'Larvitar, Pupitar, Tyranitar'
 'Treecko, Grovyle, Sceptile' 'Torchic, Combusken, Blaziken'
 'Mudkip, Marshtomp, Swampert' 'Poochyena, Mightyena'
 'Zigzagoon, Linoone, Zigzagoon, Linoone, Obstagoon'
 'Wurmple, Silcoon, Beautifly, Cascoon, Dustox' 'Lotad, Lombre, Ludicolo'
 'Seedot, Nuzleaf, Shiftry' 'Taillow, Swellow' 'Wingull, Pelipper'
 'Ralts, Kirlia, Gardevoir, Gallade' 'Surskit, Masquerain'
 'Shroomish, Breloom' 'Slakoth, Vigoroth, Slaking'
 'Nincada, Ninjask, Ninjask, Shedinja' 'Whismur, Loudred, Exploud'
 'Makuhita, Hariyama' 'Nosepass, Probopass' 'Skitty, Delcatty'
 'Aron, Lairon, Aggron' 'Meditite, Medicham' 'Electrike, Manectric'
 'Budew, Roselia, Roserade' 'Gulpin, Swalot' 'Carvanha, Sharpedo'
 'Wailmer, Wailord' 'Numel, Camerupt' 'Spoink, Grumpig'
 'Trapinch, Vibrava, Flygon' 'Cacnea, Cacturne' 'Swablu, Altaria'
 'Barboach, Whiscash' 'Corphish, Crawdaunt' 'Baltoy, Claydol'
 'Lileep, Cradily' 'Anorith, Armaldo' 'Feebas, Milotic' 'Shuppet, Banette'
 'Duskull, Dusclops, Dusknoir' 'Chingling, Chimecho'
 'Snorunt, Glalie, Froslass' 'Spheal, Sealeo, Walrein'
 'Clamperl, Huntail, Gorebyss' 'Bagon, Shelgon, Salamence'
 'Beldum, Metang, Metagross' 'Turtwig, Grotle, Torterra'
 'Chimchar, Monferno, Infernape' 'Piplup, Prinplup, Empoleon'
 'Starly, Staravia, Staraptor' 'Bidoof, Bibarel' 'Kricketot, Kricketune'
 'Shinx, Luxio, Luxray']

'primary_ability': ['Overgrow' 'Blaze' 'Torrent' 'Shield Dust' 'Shed Skin' 'Compound Eyes'
 'Swarm' 'Keen Eye' 'Run Away' 'Intimidate' 'Static' 'Sand Veil'
 'Poison Point' 'Cute Charm' 'Flash Fire' 'Inner Focus' 'Chlorophyll'
 'Effect Spore' 'Pickup' 'Limber' 'Damp' 'Vital Spirit' 'Water Absorb'
 'Synchronize' 'Guts' 'Clear Body' 'Rock Head' 'Oblivious' 'Magnet Pull'
 'Thick Fat' 'Stench' 'Shell Armor' 'Levitate' 'Cursed Body' 'Insomnia'
 'Hyper Cutter' 'Soundproof' 'Own Tempo' 'Lightning Rod' 'Natural Cure'
 'Early Bird' 'Swift Swim' 'Illuminate' 'Flame Body' 'Volt Absorb' 'Trace'
 'Immunity' 'Pressure' 'Hustle' 'Sturdy' 'Speed Boost' 'Shadow Tag'
 'Serene Grace' 'Magma Armor' 'Suction Cups' 'Sand Stream' 'Truant'
 'Wonder Guard' 'Pure Power' 'Plus' 'Minus' 'Liquid Ooze' 'Rough Skin'
 'Water Veil' 'White Smoke' 'Battle Armor' 'Marvel Scale' 'Forecast'
 'Color Change' 'Drizzle' 'Drought' 'Air Lock' 'Simple' 'Rivalry']

'secondary_ability': ['Chlorophyll' 'Solar Power' 'Rain Dish' 'Run Away' 'None' 'Tinted Lens'
 'Sniper' 'Tangled Feet' 'Guts' 'Shed Skin' 'Lightning Rod' 'Sand Rush'
 'Rivalry' 'Magic Guard' 'Drought' 'Competitive' 'Infiltrator' 'Stench'
 'Effect Spore' 'Dry Skin' 'Arena Trap' 'Technician' 'Cloud Nine'
 'Anger Point' 'Flash Fire' 'Damp' 'Inner Focus' 'No Guard' 'Gluttony'
 'Liquid Ooze' 'Sturdy' 'Own Tempo' 'Early Bird' 'Hydration' 'Sticky Hold'
 'Skill Link' 'Forewarn' 'Shell Armor' 'Static' 'Harvest' 'Reckless'
 'Iron Fist' 'Oblivious' 'Neutralizing Gas' 'Rock Head' 'Serene Grace'
 'Leaf Guard' 'Scrappy' 'Water Veil' 'Natural Cure' 'Filter'
 'Vital Spirit' 'Mold Breaker' 'Rattled' 'Moxie' 'Imposter' 'Adaptability'
 'Quick Feet' 'Download' 'Battle Armor' 'Pressure' 'Thick Fat'
 'Snow Cloak' 'Flame Body' 'Marvel Scale' 'Multiscale' 'Unnerve'
 'Sheer Force' 'Keen Eye' 'Insomnia' 'Illuminate' 'Plus' 'Healer'
 'Huge Power' 'Pickup' 'Compound Eyes' 'Water Absorb' 'Magic Bounce'
 'Super Luck' 'Telepathy' 'Overcoat' 'Sand Veil' 'Swift Swim' 'Hustle'
 'Frisk' 'Steadfast' 'Regenerator' 'Unburden' 'Speed Boost' 'Wind Rider'
 'Drizzle' 'Trace' 'Poison Heal' 'Magnet Pull' 'Normalize' 'Stall'
 'Intimidate' 'Volt Absorb' 'Swarm' 'Poison Point' 'Simple' 'Solid Rock'
 'Toxic Boost' 'Anticipation' 'Storm Drain' 'Protean' 'Ice Body'
 'Light Metal' 'Unaware']

In [91]:
print(df['primary_type'])

0         grass
1         grass
2         grass
3          fire
4          fire
         ...
400         bug
401         bug
402    electric
403    electric
404    electric
Name: primary_type, Length: 405, dtype: object